
/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
  margin-top: 15px;
  width: 100%;
  color:$color-btn;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: 5px;
}

.default {
  background-color:$color-sec;
}

.error {
  background-color: $color-err;
}

.info {
  background-color: #927bc1;
}

.success {
  background-color: $color-suc;
}

.warning {
  background-color: #fd7856;
}
